/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

html {
  --theme-background: #fff;
  --theme-text: #222;
  --theme-background-secondary: #eee;
}

@media (prefers-color-scheme: dark) {
  html {
    --theme-background: #222;
    --theme-text: #fff;
    --theme-background-secondary: #333;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: var(--theme-background);
  color: var(--theme-text);
}
